/* Simple CSS styling for RottenPotatoes app */
/* Add these lines to app/assets/stylesheets/application.css */

html, body {
  margin: 0;
  padding: 0;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: #fee5e0;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}
#notice, #warning {
  background:linear-gradient(90deg,  rgb(231, 61, 61) 35%, rgba(255,255,255,1) 100%);
  color: white;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

Bigban {
  color: maroon;
  font-size: 72px;
  font-style: Bold;
  display: block;
  padding-top: 20px;
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  background: linear-gradient(90deg, #ffbfc3 35%, rgba(241,195,234,1) 62%, rgba(255,255,255,1) 100%);
}
#movieInfo {
  padding: 10px;
  position: fixed;
  border: 2px double #a8d1e8;
  background: #fee5e0;
  box-shadow: 0 2px 3px #666666;
}
img{
  height: 200px;
}
.icon:hover {
  filter: 
    invert(0.5)
    sepia(1)
    hue-rotate(200deg)
    saturate(4)
    brightness(1);
}